<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myNotion.fpsgo.board.mapper.BoardMapper">
    <!-- 전체 조회 -->
    <select id="selectBoards">
        SELECT *
        FROM board
    </select>

    <!-- 페이징 기능 추가 -->
    <select id="selectBoardPage">
        <![CDATA[
            SELECT
                *
            FROM(
                SELECT
                    /*+ INDEX_DESC(board BOARD_PK) */
                    ROWNUM rn, no, title, content, author
                FROM
                    board
                WHERE ROWNUM <= #{pageNum} * #{amount}
                )
            WHERE rn > (#{pageNum} - 1 ) * #{amount}
        ]]>
    </select>

    <!-- 페이징과 검색 추가 -->
    <select id="selectBoardPageSearch">
        <![CDATA[
        SELECT
            no,title,content,author
        FROM(
            SELECT /*+ INDEX_DESC(board board_pk)*/
                ROWNUM rn, no, title, content, author
            FROM
                board
            WHERE
        ]]>
            <trim prefix="(" suffix=")AND " prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'T'.toString()">
                                title like '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'C'.toString()">
                                content like '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'A'.toString()">
                                author like '%' || #{keyword} || '%'
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        <![CDATA[
            ROWNUM <= #{pageNum} * #{amount}
            )
        WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="selectTotalCount" resultType="int">
        select count(*)
        from board
        where
        <trim prefix="(" suffix=")" prefixOverrides="OR">
            <foreach item="type" collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'A'.toString()">
                            author like '%' || #{keyword} || '%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </select>
</mapper>